# Variáveis de ambiente
.env
.env.local

# Dependências do Node.js
**/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Pastas de build do frontend (Vite)
**/dist
**/build

# Ambientes virtuais Python
**/venv/
.Python/
Python/
env/
*.pyc
__pycache__/

# IDEs e editores (opcional)
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Arquivos de log
*.log

# Windows (se você usa Windows)
Thumbs.db
ehthumbs.db